@charset "UTF-8";
html, body, #root, .App {
  height: 100%; }

body {
  background: url("./cat-bg.jpg");
  background-size: cover; }

.header {
  text-align: center;
  font-weight: bold;
  color: rgba(245, 242, 246, 0.5);
  padding: 10px;
  background-color: rgba(87, 86, 95, 0.5);
  border-bottom: rgba(87, 86, 95, 0.7);
  margin-bottom: 15px; }

.columns {
  display: flex;
  padding: 0 15px;
  height: 100%; }
  .columns .column {
    display: inline-block;
    flex-grow: 0;
    width: 25%;
    padding: 0 5px; }
    .columns .column .column__name {
      border-radius: 5px 5px 0 0; }
    .columns .column:hover .add-task {
      background-color: rgba(221, 217, 230, 0.4);
      color: white; }
    .columns .column .add-task {
      font-size: 11px;
      padding: 5px 0;
      width: 100%;
      text-align: center;
      cursor: pointer;
      color: transparent;
      border-radius: 0 0 5px 5px; }
      .columns .column .add-task:hover {
        background-color: rgba(221, 217, 230, 0.8); }
    .columns .column__name {
      padding: 5px 10px;
      background-color: rgba(35, 34, 38, 0.5);
      font-size: 12px;
      border-bottom: 2px solid rgba(35, 34, 38, 0.7);
      color: #F5F2F6;
      text-align: center; }
    .columns .column__body {
      border-radius: 0 0 5px 5px;
      position: relative; }
      .columns .column__body--dragging {
        opacity: 0.7; }
        .columns .column__body--dragging::after {
          content: "👆";
          padding-top: 5px;
          left: 0;
          right: 0;
          position: absolute;
          text-align: center;
          opacity: 0.5;
          color: #87FDB1; }
      .columns .column__body .tasks .task {
        background-color: rgba(255, 255, 255, 0.93);
        padding: 13px 0;
        position: relative;
        border-top: 2px solid white;
        border-bottom: 2px solid #EAE3F6; }
        .columns .column__body .tasks .task:hover {
          background-color: rgba(255, 255, 255, 0.98); }
        .columns .column__body .tasks .task:hover .task__remove, .columns .column__body .tasks .task:hover .arrow-left, .columns .column__body .tasks .task:hover .arrow-right, .columns .column__body .tasks .task:hover .task__edit {
          visibility: unset; }
        .columns .column__body .tasks .task__name {
          display: inline-block;
          padding: 0 30px;
          cursor: pointer;
          position: relative; }
        .columns .column__body .tasks .task .arrow-left {
          display: inline-block;
          color: #57565F;
          cursor: pointer;
          position: absolute;
          left: 0px;
          visibility: hidden;
          top: 0px;
          font-size: 11px;
          padding: 16px 10px; }
          .columns .column__body .tasks .task .arrow-left:hover {
            color: #57565F;
            background-color: rgba(35, 34, 38, 0.05); }
        .columns .column__body .tasks .task .arrow-right {
          display: inline-block;
          color: #57565F;
          cursor: pointer;
          position: absolute;
          right: 0px;
          visibility: hidden;
          top: 0px;
          font-size: 11px;
          padding: 16px 10px; }
          .columns .column__body .tasks .task .arrow-right:hover {
            color: #57565F;
            background-color: rgba(35, 34, 38, 0.05); }
        .columns .column__body .tasks .task__remove {
          position: absolute;
          font-size: 11px;
          padding: 16px 10px;
          color: red;
          right: 25px;
          top: 0px;
          cursor: pointer;
          visibility: hidden; }
          .columns .column__body .tasks .task__remove:hover {
            background-color: rgba(35, 34, 38, 0.05); }
        .columns .column__body .tasks .task__edit {
          position: absolute;
          font-size: 11px;
          padding: 16px 10px;
          color: #7C7A89;
          right: 55px;
          top: 0px;
          cursor: pointer;
          visibility: hidden; }
          .columns .column__body .tasks .task__edit:hover {
            background-color: rgba(35, 34, 38, 0.05); }

.footer {
  font-size: 10px;
  color: white;
  text-align: center; }

/*# sourceMappingURL=App.css.map */
